:root {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #354657;
}
body {
	margin: 0 auto;
}
/* HEADER */
header {
	background-color: #F8F4FC;
}
.header__container {
	margin: 0 auto;
	width: 80%;
	padding-bottom: 11px;
}
.header-firstline {
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-menu {
	padding-right: 16rem;
}
.top-menu a {
	text-decoration: none;
	font-weight: 700;
	padding-right: 2.5rem;
	color: #354657;
}
.top-icons a {
	padding-right: 2rem;
}
.header__breadcrumbs {
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
	color: #626262;
}
.header__breadcrumbs a {
	color: #626262;
	padding-right: .7rem;
	padding-left: .7rem;
}
.banner {
	background-image: url('../img/banner\ 24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.banner_contetnt {
	width: 50%;
	padding-top: 5%;
	padding-left: 10%;
	color: #fff;
	font-size: 24px;
	padding-bottom: 7%;
	box-sizing: border-box;
}
.banner_contetnt h1 {
	font-size: 2em;
	font-weight: 900;
	margin-bottom: 2%;
	animation: h1animation 5s ease-in-out 2s;
	-webkit-animation: h1animation 5s ease-in-out 2s;
	animation-fill-mode: backwards;
}
@keyframes h1animation {
	from { transform: translateX(-100vh);
		-webkit-transform: translateX(-100vh);
	}
	to { transform: translateX(inherit);
		-webkit-transform: translateX(inherit);
	}
}
.banner-text {
	animation: bannerText 4s ease-in-out 4s;
	-webkit-animation: bannerText 4s ease-in-out 4s;
	animation-fill-mode: backwards;
}
@keyframes bannerText {
	from {transform: translateX(-100vh);
		-webkit-transform: translateX(-100vh);
	}
		to {
			transform: translateX(inherit);
			-webkit-transform: translateX(inherit);
		}
	}
.btn {
	display: block;
	color: #fff;
	font-size: 1rem;
	background-color: #946FD3;
	border-radius: 50px;
	text-decoration: none;
	width: 206px;
	margin-top: 40px;
	padding: 19px 19px;
	font-weight: 700;
	text-align: center;
}
.learnmore {
	animation: btnLearnMore 4s linear 5s;
	-webkit-animation: btnLearnMore 4s linear 5s;
	animation-fill-mode: backwards;
}
@keyframes btnLearnMore {
	from {transform:scale(0);
		-webkit-transform:scale(0);
	}
	50% {
		transform:scale(1.5);
		-webkit-transform:scale(1.5);
	}
		to {transform:scale(1);
			-webkit-transform:scale(1);
		}
		
	}
.privileged-buyer {
background-color: #F0E6FF;
margin: 0 auto;
display: flex;
height: 300px;
}
.privileged-buyer__img {
	margin-left: 10%;
}
.bottle1 {
	animation: btl-1-animation 5s linear 4s;
	-webkit-animation: btl-1-animation 5s linear 4s;
	animation-iteration-count: infinite;
}
@keyframes btl-1-animation {
from { transform: rotateZ(0);
	-webkit-transform: rotateZ(0);
}
to {
	transform: rotateZ(360deg);
	-webkit-transform: rotateZ(360deg);
}
}
.bottle2 {
	animation: btl-2-animation 5s linear 4s;
	-webkit-animation: btl-2-animation 5s linear 4s;
	animation-iteration-count: infinite;
}
@keyframes btl-2-animation {
from { transform: rotateZ(0);
	-webkit-transform: rotateZ(0);
}
to {
	transform: rotateZ(-360deg);
	-webkit-transform: rotateZ(-360deg);
}
}
.privileged-buyer__info {
	padding-top: 42px;
	width: 40%;
}
.privileged-buyer__info p{
	color: #946FD3;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
}
.privileged-buyer__info h2 {
	font-size: 38px;
	font-weight: 700;
}
.main-content {
	width: 80%;
	margin: 0 auto;
}
.main-content h3{
text-align: center;
padding-top: 2%;
padding-bottom: 2%;
}
.card {
	border-radius: 0;
	border: 0;
}
.card:hover {
	background-color: #946FD3;
	color: #fff;
	transform: rotateY(360deg);
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
}
.card-title {
	font-size: 1.5rem;
	font-weight: 700;
}
.btn-primary {
	background: none;
	border: 2px solid #946FD3;
	color: #946FD3;
}
.card:hover .btn-primary {
	border: 2px solid white;
	background: none;
	color: white;
	transition: all .8s;
	-webkit-ransition: all .8s;
}
/* FOOTER */
footer {
	margin-top: 150px;
	border-top: 1px solid #E2E2E2;
}
.footer__container {
	margin: 0 auto;
	width: 80%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-links {
margin-right: 350px;
}
.footer-links a{
text-decoration: none;
color: #354657;
font-size: 16px;
font-weight: 700;
margin-left: 40px;
}
.social-links a{
	margin-left: 17px;
}